.profile_container {
  min-width: 90vw;
  min-height: 100vh;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;
}
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50vw;
  margin: 3rem 0;
  & h1 {
    text-align: center;
  }
}

textarea {
  resize: none;
  padding: 10px;
}

.field {
  display: grid;
  gap: 1rem;
  grid-template-columns: 200px 1fr;

  & input {
    border-radius: 5px;
    border: none;
    padding: 10px;
  }
}

.add_product {
  padding: 0.7rem 0;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-red);
  color: white;
  width: 200px;
  grid-column-start: 2;
  place-self: center;
}

.error_message {
  color: var(--error);
}
.edit_btn {
  width: 100px;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--green-2);
  grid-column-start: 2;
  color: white;
  cursor: pointer;
}
