.total {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  padding: 1rem;
}

.delete_icon {
  color: gray;
  cursor: pointer;

  &:hover {
    color: var(--dark-red);
  }
}

.empty_cart {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--beige);
  & a {
    text-decoration: none;
    color: var(--dark-red);
  }
}

.checkout {
  padding: 5px 15px;
  background-color: var(--green-2);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: var(--white);
}
