nav {
  height: 100px;
  background-color: var(--green-1);
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--beige);
}

.nav_center {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.links_container {
  display: flex;
  gap: 1rem;

  & a {
    display: inline-block;
    text-decoration: none;
    color: var(--beige);
    padding-bottom: 2px;

    &:hover {
      box-shadow: 0px 1px var(--beige);
      /* font-weight: bold; */
    }
  }
}

li {
  list-style: none;
}

.active_link {
  box-shadow: 0px 1px var(--beige);
  /* font-weight: bold; */
}

.buttons_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  .btn {
    padding: 5px 20px;
    background-color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
    &:hover {
      background-color: var(--green-3);
      color: var(--white);
    }
  }
}

p {
  & a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}
