nav {
  height: 100px;
  background-color: var(--green-1);
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  color: var(--beige);
}

.nav_center {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.links_container {
  display: flex;
  gap: 1rem;

  & a {
    display: inline-block;
    text-decoration: none;
    color: var(--beige);
    padding-bottom: 2px;

    &:hover {
      box-shadow: 0px 1px var(--beige);
      /* font-weight: bold; */
    }
  }
}

li {
  list-style: none;
}

.active_link {
  box-shadow: 0px 1px var(--beige);
  /* font-weight: bold; */
}

.buttons_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-right: 30px;
  & p {
    color: var(--beige);
    text-decoration: none;
  }
}

.btn,
.logout {
  padding: 5px 20px;
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--green-3);
    color: var(--white);
  }
}

.logout a {
  text-decoration: none;
  color: inherit;
}
.profile_img {
  width: 40px;
}

.cart_container {
  margin-right: 40px;
}

.cart_link {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.cart_wrapper {
  position: relative;
}

.cart_value {
  position: absolute;
  font-size: 0.5rem;
  width: 12px;
  height: 12px;
  padding: 10px;
  background-color: var(--beige);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -10px;
  right: -16px;
}
