.password_input {
  position: relative;
  & input {
    width: 100%;
  }
}

.eye {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
