.filters_container {
  position: fixed;
  width: 200px;

  & button {
    border: none;
    padding: 5px 0;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
  }
}

.new_product_btn {
  text-decoration: none;
  & button {
    background-color: var(--green-2);
    color: var(--white);
    font-weight: bold;
    padding: 10px 0;
  }
}

.category {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 2px;
  &:focus {
    box-shadow: 0 2px 0 var(--green-1);
  }
}

.active_link {
}
