@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --white: #fff;
  --green-1: #386641;
  --green-2: #6a994e;
  --green-3: #a7c957;
  --beige: #f2e8cf;
  --caramel: #ce8147;
  --dark-red: #bc4749;
  --error: rgb(203, 13, 13);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

img {
  width: 100%;
}
